body{
  font-family:'Raleway', sans-serif;
  background-color: #FAF203;
  color: black;
  margin: 1% 1%;
}

h1{
  font-family: 'Arya', sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 5%;
  color: black;
}

h2{
  text-align: center;
}

#meatloaf>img {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding: 50px;
}

ul.bullets{
  font-size: 18px;
  margin: 20 auto;
  padding-right: 45px;
  padding-left: 45px;
}

ul.bullets > li{
  padding-bottom: 10px;
  padding-top: 10px;
}

span.names{
  color: #FAF203;
  font-weight: bolder;
  font-style: italic;
}


section.locals{
  padding-right: 45px;
  padding-left: 45px;
  font-size: 16px;
}

section.locals > img{
  width: 30%;
  display: block;
  margin: 0 auto;
  padding-right: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
}

#chef{
  text-align: center;
  font-style: italic;
}

i, a.tabs{
  color: black;
  font-size: 16px;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-cutlery:hover, .fa-envelope-o:hover {
  color: #F9F339;
}

a, a:hover{
  text-decoration: none;
}

a:focus{
  outline: 0;
}

i.fa.fa-facebook{
  float: right;
  /*margin-left: 10%;*/
  margin-right: 6%;
  margin-top: -19%;
}

i.fa.fa-twitter{
  float: right;
  clear: top;
/*  margin-left: 5%;*/
  margin-right: 10%;
  margin-top: -19%;
}

i.fa.fa-envelope-o{
    float: right;
  /*  margin-left: 5%;*/
  /*  margin-right: 15%;
    margin-top: -4%;*/
}

ul.nav >li > a:hover, ul.nav >li > a:focus {
   color: #F9F339;
   background-color: white;
}

nav.menu{
  text-align: center;
  vertical-align: middle;  
  margin: 6% 16%;

}

ul.nav.navbar-nav{
  float: none;
 /*text-align: center;*/
 vertical-align: middle;  
 margin: 0 auto;
 width: 35%;
  

  /*clear: top;*/
}

#slogan{
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

#cornbread > img{
  width: 50%;
  display: block;
  margin: 0 auto;
}

section.viewMenu{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

section.home > ul {
  list-style: none;
  font-size: 16px;  
  line-height: 50px;
  text-align: center; 
 /* padding-right: 20px;
  padding-left: 20px;*/
}


div.content{
  background-color: white;
  margin: 1% 1%;
  height: 100%
}

.tab_content{
  clear: both;
  flex-wrap: wrap;
}

img#cornbread{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

/*#review_content{
  height: 100%;
  overflow: hidden;
}*/

.reviews{
  /*border: 2px solid black;*/
 /* padding: 10px;*/
  /*margin: 15px 15px;*/
}

header{
/* left: 50%;
 position: relative;
 transform: translateX(-50%);*/
/* text-align: center;*/
/* display: inline;*/
 /* height: 20%;*/
 /*padding: .2px 0;*/
/* overflow: auto;*/
 /*  width: 100%;*/
}



footer{
 text-align: center;
}