body{
  background-color: black;
  color: #FFED2B;
  margin: 50px 50px;
}

img{
  height: 10%;
  width: 10%;
}

.fa{
  color: white;
}

ul{
  display: inline-block;
  list-style: none;
  border: 2px dotted white;
  width: 100%;
}

li{
  display: inline;
  /*padding: 20px 20px;*/
  margin: 0 auto;
  text-align: center;
}

p{
  clear: both;
}

footer{
  text-align: center; 
}